# Telegram Bot Configuration
BOT_TOKEN=*******************************
DATABASE_URL=postgresql://postgres:password@postgres:5432/tutor_bot
# CHAT_ID=870543959
ADMIN_IDS=[]
APP_CONFIG_FILE=ConfigDev.toml

#Paths
DATA_DIR=/app/data
LOG_DIR=/app/logs

# Redis
REDIS_URL=redis://redis:6379/0

# Application
DEBUG=true
LOG_LEVEL=DEBUG